<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>262476446230-ikanjpu1icbr7b83953uf6jrrvtfgv42.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.262476446230-ikanjpu1icbr7b83953uf6jrrvtfgv42</string>
	<key>API_KEY</key>
	<string>AIzaSyC6dpGm0aaNobcWABeSbpGQbg1s44X3s_g</string>
	<key>GCM_SENDER_ID</key>
	<string>262476446230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>rental-easy-51aa1</string>
	<key>STORAGE_BUCKET</key>
	<string>rental-easy-51aa1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:262476446230:ios:12e7f404663fda77735337</string>
</dict>
</plist>